@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

button:focus {
  outline: none;
}

input:focus {
  box-shadow: none;
  outline: none;
}


#__next {
  min-height: 100vh;
  height: 100vh;
}
  
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
